[submodule "cuda_helpers"]
	path = cuda_helpers
	url = git@github.com:asuszko/cuda_helpers.git
[submodule "cublas_helpers"]
	path = cublas_helpers
	url = git@github.com:asuszko/cublas_helpers.git
[submodule "cufft_helpers"]
	path = cufft_helpers
	url = git@github.com:asuszko/cufft_helpers.git
