[submodule "cufft_helpers"]
	path = cufft_helpers
	url = https://github.com/asuszko/cufft_helpers.git
[submodule "cublas_helpers"]
	path = cublas_helpers
	url = https://github.com/asuszko/cublas_helpers.git
[submodule "cuda_helpers"]
	path = cuda_helpers
	url = https://github.com/asuszko/cuda_helpers.git
